<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
$(document).ready( function() {
    	$(document).on('change', '.btn-file :file', function() {
		var input = $(this),
			label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
		input.trigger('fileselect', [label]);
		});

		$('.btn-file :file').on('fileselect', function(event, label) {
		    
		    var input = $(this).parents('.input-group').find(':text'),
		        log = label;
		    
		    if( input.length ) {
		        input.val(log);
		    } else {
		        if( log ) alert(log);
		    }
	    
		});
		function readURL(input) {
		    if (input.files && input.files[0]) {
		        var reader = new FileReader();
		        
		        reader.onload = function (e) {
		            $('#img-upload').attr('src', e.target.result);
		        }
		        
		        reader.readAsDataURL(input.files[0]);
		    }
		}

		$("#imgInp").change(function(){
		    readURL(this);
		}); 	
	});

</script>


<div class="dashboard__item">
	<div class="card">
		<strong>Agregar pedidos</strong>
		<div class="card card-custom">
			<div class="card-body">
				<form>
				<div class="col-md-6">
    <div class="form-group">
        <label>Subir Imagen</label>
        <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-default btn-file">
                    Subir <input type="file" id="imgInp">
                </span>
            </span>
            <input type="text" class="form-control" readonly>
        </div>
        <img id='img-upload'/>
    </div>
</div>
					<button type="submit" class="btn btn-primary">Guardar</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="dashboard__item">
	<div class="card">
		<strong>Productos</strong>
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<div class="card mb-2">
							<a class="img-card">
								<img src="https://www.hosteleriasalamanca.es/fotos/1533025888.6461.jpg" />
							</a>
							<div class="custom-row">
								<div class="card-read-more">
									<a style="color: white;" data-id="8" class="btn btn-danger  ">
										Elminar Imagen
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>