<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active " style="color: #1d2127;"  href="/">Pendientes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " style="color: #1d2127;"  href="/pendientes">Entregados</a>
  </li>
</ul>

<div class="dashboard__item">
  <div class="card">
    <strong>Pedidos entregados</strong>

    <table class="table table-">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Usuario</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>juan de las casa</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>